body {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
  margin: 0;
  background-color: rgb(255, 65, 65);
  color: rgb(0, 0, 0);
}

.info-sidebar {
  flex: 0 1 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 24px;
  gap: 32px;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.erase-button {
  background-color: rgb(255, 255, 255);
}

.info {
  font-size: 24px;
  color: rgb(20, 27, 34);
}

.drawing-board-container {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 32px;
  gap: 20px;
}

/*Setting overflow to hidden will prevent the drawing squares from over flowing through the rounded corners of the board.*/
.drawing-board {
  display: flex;
  flex: 1 1 960px;
  flex-flow: column nowrap;
  background-color: rgb(236, 236, 236);
  border-radius: 20px;
  margin-bottom: 100px;
  min-width: none;
  overflow: hidden;
}

.row {
  display: flex;
  flex: 1 1;
  align-items: stretch;
}

.square {
  flex: 1 1 5px;
  display: flex;
}

.drawn {
  background-color: black;
}

.colors-button {
  align-self: end;
  padding: 48px;
  border-radius: 50%;
}

.darkening-button {
  align-self: end;
  padding: 48px;
  border-radius: 50%;
}
