body {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.info {
  font-size: 32px;
}

.drawing-board {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

.row {
  display: flex;
}

.square {
  padding: 10px;
  display: flex;
}

.drawn {
  background-color: black;
}
